nav {
  background-color: pink;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav a {
  font-size: 20px;
  color: rgb(12, 12, 12);
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: auto;
    background-color: red;
  }
}
